.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: rgb(236, 239, 255);
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgb(27, 27, 27);
  margin: auto;
  min-height: 600px;
}

.task-input {
  height: 30px;
  width: 70%;
  border-radius: 7px;
}

.button-add {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: rgb(255, 203, 160);
}

.add-todo-container {
  display: flex;
  gap: 20px;
}

.list-item {
  display: flex;
  gap: 5px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0;
}

button {
  border-width: 0;
  cursor: pointer;
}

.completed-todo {
   text-decoration: line-through;
}

.todo-text {
   width: 130px;
}