.add-todo-container {
  display: flex;
  gap: 10px;
  height: 30px;
  border-radius: 6px;
}

.button-add {
  width: 30px;
  height: 30px;
  background-color: #29B6F6;
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button-add:disabled {
  background-color: #cde3ee;
}

button {
  cursor: pointer; 
  border-width: 0;
  background-color: #eeeeee;
}

.all-todo-list {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  gap: 10px;
}

.completed-todo {
  text-decoration: line-through;
}

.list-item {
  display: flex;
  gap: 5px;
  background-color: #eeeeee;
  align-items: center;
  border-radius: 5px;
}




 