body {
  padding: 0;
  margin: 0;
  background-color: #FFFDE7;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 3px 3px 1px 0.1px #b9bec1;
  border-radius: 6px;
  align-items: flex-start;
  padding: 30px
}

.title {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    align-items: flex-start;
    border-radius: 0;
    width: 100%;
    box-shadow: 0 0 0 0;
    padding: 0;
  }
 
  #root {
    display: inline-block;
    display: flex;
    justify-content: start;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

  .task-input {
    width: 285px;
  }

  .todo-text {
    width: 230px;
  }

  .list-item {
    width: 230px;
    border-radius: 10px;
  }
 
}

@media screen and (min-width: 500px) {
  .task-input {
    width: 335px;
  }

  .todo-text {
    width: 275px;
  }

}